/*=====================================================================
  HI INTERNET FRIEND, THANKS FOR CHECKING OUT MY CODE.
  LET ME KNOW IF THERE'S A BETTER WAY OF DOING SOMETHING,
  I HAVE NO IDEA WHAT I'M DOING! 
  =====================================================================*/



body {
	font-family: 'Roboto', Helvetica, sans-serif;
	font-size: 15.5px;
	padding: 3vw;
	/*background: rgba(100, 100, 100, .18);*/
	margin: 0px;
}


/*=====================================================================
  HEADER W/ NAME AND NAV
  =====================================================================*/

.header {
	/*border: 1px solid red;*/
	/*text-align: center;*/
	display: inline-block;
	text-align: left;
	width: 100%;
	margin-bottom: 10px;
}

.header div{
	display: inline-block;
}

.name {
	font-weight: 700;
	font-size: 22px;
}

.name a{
	text-decoration: none;
	color: black;
}

.espanol{
	display: inline-block;
	float: right;
}

.espanol a:hover {
	color: rgba(100, 100, 100, .7);
}

.espanol a{
	margin: 0px;
	color: rgba(100, 100, 100, .5);
	text-decoration: none;
}




.intro-link-container{
	margin-top: 20px;
	margin-left: 20px;
}

.intro-link-container a:hover{
	opacity: .7;
}

.more {
	display: none;
	line-height: 21px;
}

.small-caps{
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 14px;
    font-weight: 700;
    color: grey;
}

.bio-link{
	/*font-size: 20px;*/
	border-bottom: 2px solid #3490C5;
	text-decoration: none;
	color: #3490C5;
	margin-right: 20px;
	position: relative;
}

.bio-link img{
	height: 15px;
    left: -20px;
    bottom: -5px;
    position: absolute;
}

.icon{
	margin-right: 20px;
}

.icon img{
	height: 20px;
	margin-bottom: -4px;
}





/*=====================================================================
  PROJECT THUMBNAILS
  =====================================================================*/

.project{
	border: 1px solid red;
	position: relative;
	margin-top: 40px;
}

.thumbnail-container img{
	max-width: 45.5vw; /*Because 3vw margin on each side*/
}

.info-card{
	background-color: white;
	display: inline-block;
	padding: 12px 16px 12px 16px;
	width: 268px;
	line-height: 20px;
	margin-top: 30px;

	position: absolute;
	left: -20px;
	top: 0px;

	/*	Drop shadow*/
	/*box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);*/

	box-shadow: 0 3px 6px rgba(0,0,0,0.1), 0 1px 6px rgba(0,0,0,0.2);


}

.project-title{
	display: inline-block;
	font-size: 18px;
	font-weight: 700;
	margin-bottom: 4px;
}

.project-date{
	display: inline-block;
	float: right;
	font-size: 15px;
	color: #939393;

	font-family: 'Roboto Mono', monospace;
}

.project-description{
	display: block;
	color: #a8a8a8;
	font-size: 15px;
}

footer{
	margin-top: 30px;
}

footer nav a{
	color: rgba(100, 100, 100, .5);
	font-weight: 400;
	text-decoration: none;
	margin-right: 20px;
}

footer nav a:hover{
	color: rgba(100, 100, 100, .8);
}


/* Makes the menu responsive on tiny screens JUST IN CASE----------- */
@media only screen  and (max-width : 330px) {
	
}


/* Desktops and laptops ----------- */
@media only screen  and (min-width : 640px) {

}




