/*=====================================================================
  HI INTERNET FRIEND, THANKS FOR CHECKING OUT MY CODE.
  LET ME KNOW IF THERE'S A BETTER WAY OF DOING SOMETHING,
  I HAVE NO IDEA WHAT I'M DOING! 
  =====================================================================*/



body {
	font-family: 'Roboto', Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	font-size: 15.5px;
	/*padding: 3vw;*/
	/*background: rgba(100, 100, 100, .18);*/
	margin: 0px;
}


/*=====================================================================
  HEADER W/ NAME AND NAV
  =====================================================================*/

.header {
	/*border: 1px solid red;*/
	/*text-align: center;*/
	display: inline-block;
	text-align: center;
	width: 100%;
	margin-top: 20px;
	position: relative;
}

.globe{
	float: left;
}

.globe img{
	width: 18px;
	opacity: .3;
}

.name {
	font-size: 16px;
}

.name a{
	text-decoration: none;
	color: black;
}

.espanol{
	display: inline-block;
	position: absolute;
	right: 0px;
	top: 0px;
	margin-right: 3vw;
}

.espanol a:hover {
	color: rgba(100, 100, 100, .7);
}

.espanol a{
	margin: 0px;
	color: rgba(100, 100, 100, .5);
	text-decoration: none;
}

.intro-text-wrapper{
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	text-align: center;
	display: block;
}

.intro-text{
	text-align: left;
	color: #a8a8a8;
	padding-left: 20px;
    padding-right: 20px;
    display: inline-block;
    width: 491px;
    word-wrap : break-word;
}



.intro-link-container{
	margin-top: 20px;
	margin-left: 20px;
	margin-bottom: 40px;
	text-align: center;
}

.intro-link-container a{
	text-decoration: none;
}

.intro-link-container p{
	display: inline-block;
	margin: 0px;
	padding: 0px;
}

.intro-link-container a:hover{
	opacity: .7;
}

.more {
	display: none;
	line-height: 21px;
	width: 100vw;
	display: absolute;

	color: #a8a8a8;
    margin-top: 25px;
}

.flex-container{
	display: -ms-flex;
	display: -webkit-flex;
	display: flex;

	width: 800px;

	margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

.flex-container > div {
	/*border: 1px solid red;*/
	padding-right: 32px;
}

.flex-container > div:first-child {
    padding-right: 25px;
    padding-left: 130px;
}


.bonus-section{
	text-align: left;
}

.bonus-section img{
	width: 155px;
	margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

.bonus-section ul{
	margin: 0px;
	padding-left: 20px;
}

.small-caps{
    /*text-transform: uppercase;
    letter-spacing: 1px;*/
    /*font-size: 14px;*/
    /*font-weight: 400;*/
    color: grey;
}

.intro-text strong{
	font-weight: 300;
}

.bio-link{
	/*font-size: 20px;*/
	border-bottom: 1px solid #3490C5;
	text-decoration: none;
	color: #3490C5;
	margin-right: 20px;
	position: relative;
}

.bio-link img{
	height: 15px;
    left: -20px;
    bottom: -5px;
    position: absolute;
}

.icon{
	margin-right: 20px;
}

.icon img{
	width: 18px;
    margin-bottom: -5px;
}

#instagram img{
	width: 17px;
}





/*=====================================================================
  PROJECT THUMBNAILS
  =====================================================================*/

.project-row{
	display: -ms-flex;
	display: -webkit-flex;
	display: flex;
	width: 94vw;
	padding-left: 3vw;
}

.project-row > div {
	width: 50%;
	/*padding: 10px;*/
}

#p1{
	padding-right: 25px;
}

#p2{
	padding-left: 25px;
}

/*.project-row > div:first-child {
	
}*/

.project{
	/*border: 1px solid red;*/
	position: relative;
	/*margin-top: 40px;*/
	display: inline-block;
	/*padding: 10px;*/
}

.project-container {
	margin-bottom: 20px;
	cursor: none;
}
.project-container a {
	cursor: none;
}


.thumbnail-wrapper{
	/*border: 1px solid blue;*/
	display: inline-block;
}

.thumbnail img{
	max-width: 100%;
	display: inline-block;
}

.thumbnail {
	display: inline-block;
	text-decoration: none;
	color: inherit;
	/*cursor: url(../img/click-hand.png), pointer;*/
	/*cursor: none;*/
}

.info-card{
	background-color: white;
	display: none;
	padding: 10px 13px 10px 13px;
	width: 268px;
	margin-top: 30px;
	line-height: 20px;
	position: absolute;
	z-index: 100;
	cursor: none;

	/*	Drop shadow*/
	/*box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);*/

	/*good*/
	/*box-shadow: 0 3px 6px rgba(0,0,0,0.1), 0 1px 6px rgba(0,0,0,0.2);*/

	border: solid 1px black;
	box-shadow: 0 3px 6px rgba(0,0,0,0.1), 0 1px 6px rgba(0,0,0,0.2);
}

.info-card-mobile{
	background-color: white;
	display: none;
	padding: 10px 13px 10px 13px;
	width: 268px;
	margin-top: 30px;
	line-height: 20px;
	position: absolute;
	z-index: 100;
	cursor: none;

	border: solid 1px black;
	box-shadow: 0 3px 6px rgba(0,0,0,0.1), 0 1px 6px rgba(0,0,0,0.2);
}

.project-title{
	display: inline-block;
	font-size: 16px;
	margin-bottom: 4px;
}

.project-date{
	display: inline-block;
	float: right;
	font-size: 15px;
	color: #939393;

	font-family: 'Roboto Mono', monospace;
}

.project-description{
	display: block;
	color: #979797;
	font-size: 15px;
}

footer{
	/*margin-top: 30px;*/
	text-align: center;
	padding: 15px;
	padding-top: 0px;
	font-size: 13px;
	color: rgba(100, 100, 100, .5);
}

footer nav a{
	color: rgba(100, 100, 100, .5);
	font-weight: 400;
	text-decoration: none;
	border-bottom: 1px solid rgba(100, 100, 100, .3);
}

footer nav a:hover{
	color: rgba(100, 100, 100, .8);
}

/*=====================================================================
  PROJECT PAGES!!!!
  =====================================================================*/

.nav-bar{
	text-align: center;
	margin-top: 15px;
	margin-bottom: 15px;
	margin-left: 3vw;
	margin-right: 3vw;
}

.nav-bar p{
	display: inline-block;
	margin: 0px;
	padding: 0px;	
}

.nav-bar a{
	text-decoration: none;
	color: black;
	opacity: .3;
}

.nav-bar img{
	margin-bottom: -2px;
}

.previous-project{
	float: left;
}

.all-projects img{
	margin-right: 1px;
}

.all-projects{
	margin-right: 30px;
}

.next-project{
	float: right;
}

.project-page-content{
	text-align: center;
}

.cover-photo img{
	width: 100vw;
}

.project-name{
	font-weight: 700;
    font-size: 15.5px;
    letter-spacing: 2.5px;
    text-transform: uppercase;
    color: lightgrey;
    margin-top: 30px;
	/*font-family: 'Roboto Mono';*/
}

#pancakes-color{
	color: #DAB83F;
}

#pancakes-background-color{
	background-color: #DAB83F;
}

#pancakes-background-color .mono-subtitle,
#pancakes-background-color{
	color: black;
}

#serendipity-color{
	color: #1B53C2;
}

#start-up-chile-color{
	color: #3490C5;
}

#start-up-chile-background{
	background-color: #3490C5;
}

.project-blurb{
	font-size: 38px;
    max-width: 670px;
    font-weight: 300;
    margin-bottom: 80px;
    padding-left: 25px;
    padding-right: 25px;

    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

.project-question{
	background-color: #1B53C2;
	width: 400px;
	padding: 25px;
	margin-bottom: 100px;

	font-size: 20px;
	color: white;

	margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;

    /*margin-bottom: 50px;*/
}

.project-question p{
	padding-left: 25px;
	padding-right: 25px;
	margin: 0px;
}

.mono-subtitle{
	font-family: 'Roboto Mono', monospace;
	font-weight: 700;
	font-size: 17px;
	color: #8D8D8D;
	letter-spacing: 2.58px;
	color: white;
	opacity: .4;
}

.label{
	font-family: 'Roboto Mono', monospace;
	font-weight: 700;
	font-size: 15px;
	color: #8D8D8D;
	letter-spacing: 2.58px;
	text-transform: uppercase;

	margin-top: 100px;
	margin-bottom: -40px;
	/*padding-top: 100px;*/
}

.directions{
	font-family: 'Roboto Mono', monospace;
	font-size: 15px;
	max-width: 400px;

	margin: 100px;
	margin-bottom: 0px;

	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
}

.meta{
	font-family: 'Roboto Mono', monospace;
	font-size: 15px;
	opacity: .7;
	max-width: 550px;

	margin: 100px;
	/*margin-bottom: 0px;*/

	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
}

/*==============================
		Start-Up Chile
==============================*/

.problem-container{
	display: -ms-flex;
	display: -webkit-flex;
	display: flex;

	margin: 50px;
	margin-bottom: 100px;
	width: 700px;

	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;

	text-align: left;
}

.problem{
	/*border: 1px solid red;*/
}

.problem-body{
	font-size: 22px;
}

.big-number{
	font-weight: 700;
	font-size: 30px;
}

.problem-container > div {
	width: 50%;
}

.problem-container > div:first-child {
	margin-right: 30px;
}




.project-body{
	font-size: 22px;
	max-width: 600px;

	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;

	margin-top: 50px;
	margin-bottom: 50px;

	padding-left: 25px;
	padding-right: 25px;
}

.project-body p{
	padding-bottom: 14px;
}

.project-body ul{
	text-align: left;
    margin-left: 43px;
}

.centered-image{
	padding: 50px;
}

.centered-image img{
	max-width: 90vw;
}

.full-screen-image img{
	max-width: 100vw;
}

.two-images{
	display: -ms-flex;
	display: -webkit-flex;
	display: flex;
	padding: 50px;
}

.two-images > img {
	width: 50%;
	height: 50%;
}

.two-images > img:first-child {
	/*margin-right: 20px;*/
}

.big-link{
	margin-bottom: 50px;
	padding-top: 50px;
}

.big-link a{
	font-weight: 700;
	font-size: 40px;
	text-decoration: none;
	padding-bottom: 1px;
	border-bottom: 4px solid black;
	color: black;
}

#pancakes a{
	color: orange;
	border-bottom: 4px solid orange;
}

.big-link:hover{
	opacity: .8;
}

/*FOR SERENDIPITY.HOW*/

.three-across img{
	max-width: 900px;
	margin: 50px;
}

.juxtagraph-circle{
	/*border: 1px solid red;*/
	position: relative;
}

.juxtagraph-circle img{
	max-width: 60vw;
}

.juxtagraph-circle .big-link{
	position: absolute;
	vertical-align: middle;

    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin-top: 28%;
    /*margin-bottom: 0;*/

    padding: 0px;
}

.spinning-image{
	text-align: center;
	margin-bottom: 50px;
}

.spinning-image img{
	-webkit-animation:spin 12s linear infinite;
    -moz-animation:spin 12s linear infinite;
    animation:spin 12s linear infinite;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }


/* Makes the menu responsive on tiny screens JUST IN CASE----------- */
@media only screen  and (max-width : 800px) {
	.name{
		font-size: 24px;
		margin: 20px;
	}

	.intro-text-wrapper{
		width: 325px;
	}

	.intro-text{
		font-size: 24px;
		text-align: center;
		line-height: 40px;
		width: auto;
	}

	.more{
		line-height: 40px;
	    margin-top: -5px;
	}

	.flex-container{
		-ms-flex-direction: column;
	    -webkit-box-orient: vertical;
	    flex-direction: column; 

	    padding: 30px;
	    padding-bottom: 0px;

        width: 265px;
	}	

	.bonus-section{
		font-size: 24px;
		padding: 0px;
		width: 100%;
	}

	.flex-container > div {
		padding-right: 0px;
	}

	.flex-container > div:first-child {
	    padding-right: 0px;
	    padding-left: 0px;
	    margin-bottom: 30px;
	}

	.bonus-section img{
		width: 96vw;
		margin-left: auto;
	    margin-right: auto;
	    left: 0;
	    right: 0;

	    display: none;
	}

	.bonus-section ul{
		margin: 0px;
		padding-left: 30px;
	}

	.intro-link-container {
    	margin-left: 5px;
	}

	.intro-link-container p{
	    margin-bottom: 34px;
    	margin-top: 33px;
		padding: 0px;
		display: block;
	}

	.icon{
		margin-right: 45px;
	}

	.icon img{
		width: 30px;
	    margin-bottom: -5px;
	}

	#instagram img{
		width: 26px;
		margin-left: 20px;
	}

	.bio-link{
		font-size: 24px;
		text-align: center;
		/*display: block;*/
	}

	.project-row{
		-ms-flex-direction: column;
	    -webkit-box-orient: vertical;
	    flex-direction: column; 
	}

	.project-row > div {
		width: 100%;
		text-align: center;
	}

	#p1{
		padding-right: 0px;
	}

	#p2{
		padding-left: 0px;
	}

	.espanol{
		display: none;
	}

	/*.info-card{
		display: inline-block;
		text-align: left;
		left: 0px;
		bottom: -80px;
		top: auto;

		margin-left: auto;
	    margin-right: auto;
	    left: 0;
	    right: 0;
	}*/

	.info-card-mobile{
		display: inline-block;
		text-align: left;
		left: 0px;
		bottom: -80px;
		top: auto;

		margin-left: auto;
	    margin-right: auto;
	    left: 0;
	    right: 0;
	}

	.project{
		margin-bottom: 125px;
	}

	/*==============================
	SERENDIPITY
	================================*/

	.nav-bar p{
		display: none;
	}

	.all-projects{
		margin-right: 0px;
	}

	.project-name{
		font-size: 17px;
	}

	.project-blurb{
		font-size: 23px;
		max-width: 450px;
	}

	.project-question{
		font-size: 18px;
		width: auto;
	}

	.mono-subtitle{
		font-size: 14px;
		letter-spacing: 1.5px;
	}

	.centered-image{
		padding: 0px;
		padding-top: 30px;
		padding-bottom: 30px;
	}

	.big-link{
		margin-bottom: 50px;
		padding-top: 40px;
	}

	.big-link a{
		font-size: 32px;
		margin-left: 25px;
		margin-right: 25px;
	}

	.project-body{
		font-size: 17px;
		max-width: 450px;
	}

	.project-question{
		font-size: 17px;
		max-width: 450px;
	}

	.project-body ul {
	    text-align: left;
	    margin-left: 0px;
	}

	.juxtagraph-circle img{
		max-width: 96vw;
		margin-bottom: 30px;
	}

	.juxtagraph-circle .big-link{
		margin-top: 45%;
	}

	.juxtagraph-circle .big-link a{
		font-size: 20px;
		border-bottom: 2px solid black;
	}

	.two-images{
		-ms-flex-direction: column;
	    -webkit-box-orient: vertical;
	    flex-direction: column;
	    padding: 0px;
	    margin-top: 10px;
		margin-bottom: 10px;
	}

	.two-images > img {
		width: 100%;
		height: 100%;
		text-align: center;
		/*margin-top: 10px;*/

		
	}

	.two-images > img:first-child {
		margin-bottom: 10px;
	}

	#pancakes a {
	    color: orange;
	    border-bottom: 2px solid orange;
	    font-size: 20px; 
	}

}



