/*=====================================================================
  HI INTERNET FRIEND, THANKS FOR CHECKING OUT MY CODE.
  LET ME KNOW IF THERE'S A BETTER WAY OF DOING SOMETHING,
  I HAVE NO IDEA WHAT I'M DOING! 
  =====================================================================*/

.bio {
	font-size: 14px;

	max-width: 500px;
	margin-top: 30px;
	text-align: left;
	line-height: 24px;
}

.bio a {
	text-decoration: none;
	color: black;
	border-bottom: 1px solid grey;
}

.bio a:visited {
	text-decoration: none;
	color: black;
}

.bio a:hover{
	opacity: .7;
}

.bio .links a {
	margin-right: 20px;
}


body {
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
	/*font-size: 18px;*/
	padding: 0 20px 0 20px;
	text-align: center;
}


.construction{
	margin-top: 20px;
	padding: 15px;
	font-size: 13px;
	text-align: left;
	/*line-height: 2.5vw;*/
	/*font-weight: 700;*/
	color: white;
	background-color: blue;

}

/*=====================================================================
  HEADER W/ NAME AND NAV
  =====================================================================*/


.header {
	/*border: 1px solid red;*/
	/*text-align: center;*/
	padding: 50px 0px 10px 0px;
	display: inline-block;
	margin: 0 -20px 0 0px;
	text-align: left;
	font-size: 1.2em;
	width: 350px;
}

.name {
	font-weight: 700;
	text-align: left;
	margin-bottom: 5px;
	display: block;
	/*color: rgba(0, 0, 0, .5);*/
}

.name a{
	text-decoration: none;
	color: black;
}

nav {
	display: inline-block;
}

nav a {
	font-family: "Open Sans", sans-serif;
	font-weight: 400;
	text-decoration: none;
	color: black;
	/*border: 1px solid red;*/
}

#selected {
	border-bottom: 2px solid black;
}

.work a:hover{
	border-bottom: 2px solid black;
}

.info a:hover{
	border-bottom: 2px solid black;
}

.espanol a:hover {
	color: rgba(100, 100, 100, .7);
}

.espanol a{
	margin: 0px;
	color: rgba(100, 100, 100, .5);
}

nav div {
	display: inline-block;
	margin-right: 40px;
	margin-bottom: 10px;
}

/*=====================================================================
  PROJECT CONTAINERS
  =====================================================================*/

.project {
	margin-top: 60px;
	padding-bottom: 70px;
}

.thumbnail img {
	width: 85vw;
	margin: 0 auto 0 auto;
	display: block;
}

/*optically align text with thumbnail*/
#p0 .thumbnail img{
	margin-bottom: -5px;
	width: 380px;
}

#p1 .thumbnail img{
	margin-bottom: -80px;
}

#p2 .thumbnail img{
	margin-bottom: -80px;
	margin-top: -77px;
}

#p3 .thumbnail img{
	margin-bottom: -80px;
}

#p4 .thumbnail img{
	margin-bottom: -59px;
}

/*PROJECT TITLE*/
h1 {
	font-size: 22px;
	margin: 15px 0 0px 0;
	font-weight: 400;
	text-align: left;
}

.project a {
	text-decoration: none;
	color: black;
}

/*EACH PROJECT HAS A DIFFERENT HOVER COLOR*/
#p1 a:hover{
	color: #349acf; }

#p2 a:hover{
	color: #deac4a; }

#p3 a:hover{
	color: #666666;}

#p4 a:hover{
	color: #f3e521; }

#p5 a:hover{
	color: #55abed;}
	
#p6 a:hover{
	color: #1287f9; }

#p7 a:hover{
	color: #aa0e19;}


/*PROJECT TAGS*/
h4 {
	text-transform: uppercase;

	font-size: 13px;
	letter-spacing: .5px;
	font-weight: 400;
	/*background-color: #e9e9e9;
	border-bottom: solid #c3c3c3;*/
	color: #808285;

	padding: 0 8px 0 0px;
	margin-right: 8px;
	display: inline;
}

h4 img {
	height: 10px;
	margin-right: 5px;
}

/*PROJECT DESCRIPTION*/
h2 {
	font-size: 17px;
	font-weight: 400;

	margin: 15px 0 15px 0;

	text-align: left;
}



/*=====================================================================
  ABOUT PAGE
  =====================================================================*/

.about-wrapper {
	text-align: left;
	padding: 15px 0px 10px 0px;
	display: inline-block;
	margin: 0 -20px 0 0px;
	text-align: left;
	font-size: 1.2em;
	width: 350px;
}

.about-wrapper img{
	width: 100%;
}

.list {
	margin-top: 30px;
	display: block;
}

.list-title{
	font-size: 17px; /*But should be 15px when it gets bigger?*/
	font-weight: 700;
	border-bottom: 2px solid black;
	text-align: left;
}

ul {
	list-style-type: none;
	line-height: 15px;
	font-size: 14px;
}

li {
	background: url("img/arrow.png") no-repeat left top;
	background-size: 22px;
	background-position: left center;
	padding-top: 1px;
	padding-bottom: 1px;
	padding-left: 27px;

	color: #808285;
	margin-bottom: 10px; 
	margin-left: -36px;

	text-align: left;
}

li a:hover{
	text-decoration: none;
	color: blue;
}

li a{
	border-bottom: 2px solid blue;
	line-height: 22px;
	text-decoration: none;
	color: blue;
}

.colophon{
	text-align: left;
	color: #808285;
	margin-top: 30px;
	font-size: 15px;
}

h5{
	margin-top: 5px;
	font-weight: 400;
}



/*=====================================================================
  FOOTER
  =====================================================================*/

.footer {
	margin-top: 60px;
}

.project {
	/*border: 1px solid red;*/
	width: auto;
	text-align: center;
}

.project-container {
	/*border: 1px solid blue;*/
}

.text {
	text-align: left;
	/*border: 1px solid red;*/
}

.thumbnail{
	/*border: 1px solid red;*/
}

.pancake-img img{
	width: 100vw;
}



/* Makes the menu responsive on tiny screens JUST IN CASE----------- */
@media only screen  and (max-width : 330px) {
	.header {
		width: auto;
	}
}


/* Desktops and laptops ----------- */
@media only screen  and (min-width : 640px) {


	.about-wrapper h1{
		font-size: 3.4vw;
	}

	.about-wrapper h2{
		font-size: 1.9vw;
		line-height: 2.8vw;
	}

	.list{
		width: auto;
		display: inline-block;
		float: left;
		margin-right: 35px;
		font-size: 17px;
	}

	.colophon{
		float: left;
	}


	h1 {
	font-size: 22px;
	/*margin: 15px 0 10px 0;*/
	/*font-weight: 400;*/

	font-size: 20px;
	}

	h2{
		font-size: 15px;
		margin-top: 10px;
	}

	h4 {
		font-size: 12.5px
	}

	.project a {
	text-decoration: none;
	color: black;
	}

	.thumbnail {
		display: inline-block;
		/*margin-left: 5vw;*/
	}

	.thumbnail img {
		width: 50vw;
	}

	.text {
	display: inline-block;
	margin-left: 30px;
	width: 310px;

	/*border: 1px solid red;*/
	/*margin-right: 5vw;*/
	}

	.name {
	display: inline-block;
	float: left;
}

.header,.about-wrapper{
	text-align: right;
	width: 65vw;
	font-size: 1.2em;
	margin: 0 0 0 0;
	display: inline-block;
}



.nav {
	display: inline;
	float: right;
}



/* Top menu for bigger screens----------- */
@media only screen  and (min-width : 915px) {

.thumbnail img {
		width: 500px;
	}





}





